<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width" />
<title>FinTech Personal</title>
<link
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
	rel="stylesheet"></link>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
	<div class="panel panel-default">
		<div class="panel-heading">
			<strong>FinTech Personal</strong>
		</div>
		<div class="panel-body">
			<div class="table-responsive">
				<table
					class="table table-sm table-striped table-hover table-bordered">
					<thead>
						<tr>
							<th>Id</th>
							<th>Nome</th>
							<th>Descrição</th>
							<th>Data - Hora</th>
							<th>Valor</th>
							<th>Tags</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="gasto : ${gastos}">
							<td th:text="${gasto.idGasto}"></td>
							<td th:text="${gasto.nomePessoa}"></td>
							<td th:text="${gasto.descricao}"></td>
							<td th:text="${#dates.format(gasto.dataHora, 'dd/MM/yyyy HH:mm')}"></td>
							<td th:text="${gasto.valor}"></td>
							<td th:text="${gasto.tags}"></td>
							<td>
								<div class="btn-group pull-right">
									<a class="btn btn-sm btn-primary"
										th:href="@{/edit/{id}(id=${gasto.idGasto})}">Abrir/Editar</a> <a
										class="delete btn btn-sm btn-danger"
										th:href="@{/delete/{id}(id=${gasto.idGasto})}">Excluir</a>
								</div>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div class="panel-footer">
			<a class="btn btn-sm btn-success" th:href="@{/add/}">Adicionar</a>
		</div>
	</div>
</body>
</html>